*{
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

:root{
  
  --black: #000000;
  --white: #fff;

  --primary-color: #90caf9;
  --primary-color-text: var(--black);
  --primary-color-light: #c3fdff;
  --primary-color-light-text: var(--black);
  --primary-color-dark: #5d99c6;
  --primary-color-dark-text: var(--black);

  --secondary-color: #ab47bc;
  --secondary-color-text: var(--white);
  --secondary-color-light: #df78ef;
  --secondary-color-light-text: var(--black);
  --secondary-color-dark: #790e8b;
  --secondary-color-dark-text: var(--white);
}


/* 
Typography
*/

p{
  font-size: 0.875rem;
}

ul{
  font-size: 0.875rem;
}

h1{
  font-size: 4.5rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 1.5rem;
}

a{
  text-decoration: none;
}